body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
	color: red;
}

.butt {
	color: red;
	box-sizing: border-box;
}

.test {
	color: red;
}

.lksjd {
	color: blue;
	flex-wrap: none;
}